/* === wrappers === */
.container {
	max-width: 1024px;
	margin: auto;
	padding: var(--gap-lg);
}

.container p:not(:last-child) {
	padding-bottom: var(--gap-sm);
}

.avoid-container {
  margin: var(--gap-sm) -50%;
	padding: var(--gap-md) 50%;
}

.container > .avoid-container:last-child {
	margin-top: var(--gap-lg);
	margin-bottom: calc(var(--gap-lg) * -1);
}

.container > .avoid-container:first-child {
	margin-top: calc(var(--gap-lg) * -1);
	margin-bottom: var(--gap-lg);
}
